<%= link_to("<< Back to List", sections_path(page_id: @page.id), :class => 'back-link') %>

<div class="sections edit">
  <h2>Update Section</h2>

  <%= render partial: 'form', locals: { section: @section } %>
  
</div>
