<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Update Subject</h2>

  <%= render partial: 'form', locals: { subject: @subject } %>
  
</div>
